html{
	margin: 0 auto;
	padding: 0;
}

body {
	margin: 0 auto;
	padding: 0;
	font-size: 1.5em;
	font-family: "Arial", sans-serif;
}

/* Manager window */
li a {
	cursor: pointer;
}

/* Clock window */
#participantsContainer{
	margin: 0 auto;
	width:80%;
	height: 15vh;
	font-size: 3.5vh;
}

.memberContainer{
	float: left;
	width: calc(100% / 3 - 5%);
	margin: 0 auto;
	padding: 0 0 0 5%;
}

.functionContainer{
	font-size: 80%;
}

.nameContainer{
	font-weight: bold;
}

.teamContainer{
	font-size: 80%;
}

#titleContainer {
	height: 10vh;
	padding: 3vh 3% 0;
}

#titleContainer h1 {
	margin: 0 auto;
	font-size: 4vh;
}

#clockContainer {
	height: 57vh;
}

#nextContainer {
	height: 5vh;
	padding: 3vh 0 2vh;
	font-size: 3vmin;
	margin: 0 10%;
}

#nextContainer p {
	margin: 0 auto;
}

#progressbarContainer {
	height: 3vh;
	width: 100%;
	padding: 0;
	margin-top: 2vh;
}

#clockContainer, #progressbarContainer {
	text-align: center;
}




html {
	font-size: 2vh;
}

body {
  margin: 10vh;
  max-height: 80vh;
}

body p {
	font-size: 1rem;
	margin: 0 0 0.5rem 0;
}

li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul {
	margin: 0;
	padding: 0;
}

#logo {
	position: fixed;
	right: 10vh;
	top: 0;
}

#logo img {
	max-height: 10vh;
}

#clock p {
	font-size: 3rem;
	line-height: 3rem;
	margin-bottom: 0;
	font-weight: bold;
}

#information p {
	font-size: 1.25rem;
}

#phases {
		max-height: 40vh;
		overflow: hidden;
		position: relative;
}

#phases::after {
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 20%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 20%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 20%,rgba(255,255,255,1) 100%);
  	height: 40vh;
    content: " ";
    width: 100%;
    display: block;
    position: absolute;;
    top: 0;
}

#phases .phase {
    padding: 0.4em 1em;
		color: #333;
}

#phases .phase .title {
	font-size: 1.25rem;
}

#phases .phase .progress {
	display: block;
	height: 1.5rem;
	background: rgba(0,0,0,0.1);
	margin-bottom: 0.8rem;
}

#phases .phase.current {
	font-weight: bold;
}

#phases .phase.current::before, #phases .phase.next::before {
	font-size: 0.9rem;
	line-height: 0.9rem;
	margin-top: -0.5rem;
}

#phases .phase.current::before {
	content: "Current Phase";
}

#phases .phase.next::before {
	content: "Next Phase";
}
